html {
    padding: 0;
    margin: 0;

}

body {
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5em;
}

/**/

h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.twoColumns {
    display: flex;
    justify-content: center;
}


.twoColumns_left {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

.twoColumns_left h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.twoColumns_left img {
    margin: 0 auto;
}

.twoColumns_right {
    background-color: violet;

}

.twoColumns_left__ava img {
    width: 100%;

%; /*border-radius: 600px;*/
    border: 5px solid violet;
    transform: scale(-1, 1);
}


li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}


footer img {
    width: 100%;
}

footer ul {

    display: flex;
    justify-content: space-around;


}

.footer img {
    height: 100%;
}

footer a {
    text-decoration: none;
    color: greenyellow;
}

footer a:hover {
    background-color: #fff;
    color: red;
    border-bottom: 10px solid darkred;
}

.twoColumns_left__contact a {
    color: white;
    text-decoration: none;
}

.courses a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: black;
    transition-duration: 1s;
    margin: 10px;
    padding: 10px;
    border-left: 10px solid red;
}

.twoColumns_left__contact img {
    width: 60px;
}

.code {
    /*padding-left: 20px;*/
    color: aliceblue;
    background-color: black;
    position: relative;
    left: -40px;
    top: -10px;
}

.education {
    background-color: #ffffff;
    width: 100%;

}

.education h2 {
    background-color: greenyellow;
}

.education img {
    width: 100px;
}

iframe {
    border: 0;
    width: 100%;
}

.about_text {
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;

}

.skills, .exp {
    padding-left: 50px;
}

iframe {
    width: 100%;
    height: 315px;
}