.twoColumns {
    display: flex;
    justify-content: center;

}

body {
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5em;
}

.twoColumns_left {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;

}

.twoColumns_left h1 {
    text-align: center;
    color: white;
}

.twoColumns_left img {
    margin: 0 auto;
}

.twoColumns_right {
    background-color: violet;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 100px;
}

.twoColumns_left__ava img {
    width: 80%;
    border-radius: 600px;
    border: 5px solid violet;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

footer {

    display: flex;
    background-color: #ADFF2FFF;
    justify-content: space-around;
}

footer img {
    height: 100%;
}

.twoColumns_left__contact ul {
    display: flex;
    justify-content: space-between;
}

.twoColumns_left__contact img {
    width: 60px;
}
.code {
    padding-left: 20px;
    color: aliceblue;
    background-color: black;
    position: relative;
    left: -40px;
    top: -10px;
}

.education {
    background-color: #ffffff;
}

.education img {
    width: 100px;
}

iframe {
    border: 0;
    border-radius: 20px;
    width: 560px;
    height: 315px;
}